@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: normal;
  src: local('CONSOLAS'), url('../../Consolas.woff') format('woff');
  }

.App {
  text-align: justify;
  
  /* color: white; */
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Consolas';
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-inner {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.Inline-element {
  display: inline-block;
  height: 100px;
}

.Inline-Second {
  text-align: end;
}

@media only screen and (min-width: 320px) {
  .App-inner{
     max-width: 100%;
     font-size: 10px;
  }

  .Inline-First {
    text-align: center;
    height: 70px;
  }

  .Inline-Second {
    display: none;
  }

  .Head-links {
    display: none;
  }
  
 }

@media only screen and (min-width: 420px) {
  .App-inner{
     max-width: 100%;
     font-size: 12px;
  }

  .Inline-First {
    width: 100%;
    text-align: center;
  }

  .Inline-Second {
    display: none;
  }

  .Head-links {
    display: none;
  }
 }


 @media only screen and (min-width: 620px) {
  .App-inner{
    max-width: 600px;
    font-size: 12px;
  }
  .Inline-First {
    width: 500px;
    text-align: start;
  }

  .Inline-Second {
    width: 100px;
    display: inline-block;
  }

  .Head-links {
    display: block;
  }
 }

 @media only screen and (min-width: 920px) {
  .App-inner{
     max-width: 900px;
     font-size: 15px;
  }

  .Inline-First {
    width: 800px;
  }

  .Inline-Second {
    width: 100px;
  }
 }

 .Inline-Second {
   vertical-align: middle;
 }

.App-link {
  color: #61dafb;
}

.Header-p {
  /* text-align: center; */
  font-size: 18px;
}

.Head-links {
  /* text-align: center; */
}


.Inline-element > img {
  height: 70px;
  border-radius: 50%;
}

.Head-links > a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  border: 2px solid white;
  padding: 3px;
}

.Head-links > a:hover {
  color: #282c34;
  background-color: white;
}


.Section {
  margin-left: 20px;
  text-align: justify;
  margin-top: 10px;
}

.Footer-links {
  margin-bottom: 20px;
  text-align: center;
}

.Footer-links > a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}

.Footer-links > a:hover {
  color: #282c34;
  background-color: white;
}