@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: normal;
  src: local('CONSOLAS'), url('../../Consolas.woff') format('woff');
  }

.App {
  text-align: justify;
  
  /* color: white; */
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Consolas';
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-inner {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (min-width: 320px) {
  .App-inner{
     max-width: 300px;
     font-size: 10px;
  }
 }

@media only screen and (min-width: 420px) {
  .App-inner{
     max-width: 400px;
     font-size: 10px;
  }
 }


 @media only screen and (min-width: 620px) {
  .App-inner{
    max-width: 600px;
    font-size: 12px;
  }
 }

 @media only screen and (min-width: 920px) {
  .App-inner{
     max-width: 900px;
     font-size: 15px;
     
  }
 }

.App-link {
  color: #61dafb;
}

.Head-links > a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  border: 2px solid white;
  padding: 3px;
}

.Head-links > a:hover {
  color: #282c34;
  background-color: white;
}


.Section {
  margin-left: 20px;
  text-align: justify;
  margin-top: 10px;
}