html {
    scroll-behavior: smooth;
}

.Project-Div {
    /* border: 2px white solid; */
    /* margin: 10px; */
}

.Project-TabPanels {
    /* border: 2px white solid; */
}

.Proj-Desc {
  padding-top: 0px;
  margin: 5px;
}

.Proj-Stack {
  padding-top: 0px;
  margin: 5px;
}

.Proj-Stack > a {
  text-decoration: underline;
  color: white;
  padding: 5px;
}

.Proj-Stack > a:hover {
  text-decoration: none;
  color: #282c34;
  background-color: white;
}

.Project-Title {
    background-color: white;
    color: black;
    padding: 4px 10px;
    font-weight: 600;
    font-size: 16px;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border-bottom: none;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    outline: none;
  }
  
  .react-tabs__tab:focus:after {
    content: '';
    position: absolute;
    height: 5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
    border: 1px white solid;
    padding: 0px 10px;
    height: 100px;
    overflow-y: scroll;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
    border: 1px white solid;
    padding: 0px 10px;
    overflow-y: scroll;
    height: 100px;
  }
  