.Content-p {
  margin-left: 20px;
  line-height: 20px;
}

.Month-p {
  text-align: right;
}

.Title-p {
  font-weight: 700;
}

.Title-p p > a {
  text-decoration: none;
  border: 2px solid white;
  padding: 0.5px;
  color: white;
}

.Title-p p > a:hover {
  color: #282c34;
  background-color: white;
}

.Title-a {
  text-decoration: underline;
  color: white;
  padding: 5px;
}

.Title-a:hover {
  text-decoration: none;
  color: #282c34;
  background-color: white;
}

.Project-Title-a {
  padding: 0px;
}

.Fa-Icon {
  font-size: large;
  padding-top: 10px;
}

.Content-li {
  line-height: 20px;
}

.More {
  text-align: center;
}

.More-a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 5px;
  border-radius: 3px;
}

.More-a:hover {
  text-decoration: none;
  color: #282c34;
  background-color: white;
}